mixin color-block(colorName, colorCode, colorRectangle)
    .color-block
        .color-block__color-rectangle(class='color-block__color-rectangle_'+colorRectangle)
        .color-block__color-description
            .color-block__color-name= colorName
            .color-block__color-code= colorCode