.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &_theme_simple {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: $dark-shade-50;
  }

  &_theme_simple-colorized {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* Primary Color */

    color: $purple !important;
  }

  &_theme_border {
    width: 99px;
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* Primary Color */

    color: $purple;
    position: relative;

    &::after {
      display: block;
      content: "";
      width: inherit;
      height: inherit;
      border: 2px solid;
      border-radius: 22px;
      border-color: $gradient;
      z-index: -100;
      position: absolute;
      top: 0px;
    }

    &:active::after {
      opacity: 0.5;
    }
  }

  &_theme_border-background {
    width: 99px;
    height: 44px;
    /* Primary Gradient */

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: $white;
    position: relative;

    &::after {
      display: block;
      content: "";
      width: inherit;
      height: inherit;
      background: $gradient;
      border-radius: 22px;
      z-index: -100;
      position: absolute;
      top: 0px;
    }

    &:active::after {
      opacity: 0.5;
    }
  }

  &_theme_long {
    width: 320px;
    height: 44px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: $white;

    /* Primary Gradient */

    background: $gradient;
    border-radius: 22px;

    position: relative;
    flex: 1;

    &::after {
      position: absolute;
      width: 44px;
      height: 44px;
      right: -10px;
      top: 0px;
      content: "arrow_forward";

      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;

      color: $white;
      text-transform: lowercase;
    }
  }
}
