//include ../../blocks/input/input.pug

mixin text-field(options)
    .text-field
        if options.label
            label(class="label text-field__label")= options.label
                input(class="text-field__text" placeholder= options.placeholder type="text" options.other #{$options} pattern= options.pattern)
        else
            input(class="text-field__text" placeholder= options.placeholder type="text" options.other #{$options} pattern= options.pattern)

        