.radio-button {
  &__radio {
    opacity: 0;
  }

  &__radio + &__label:after {
    content: none;
  }

  &__radio:checked + &__label:after {
    content: "";
  }

  &__radio:focus + &__label:before {
    border: 1px solid $purple;
  }

  &__radio:checked + &__label:before {
    border: 1px solid $purple;
    cursor: default;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 96px;

    padding-left: 8px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    color: $dark-shade-75;
  }

  &__radio:checked + &__label {
    color: $dark-shade-75;
  }

  &__label:before {
    position: absolute;
    left: -22px;
    top: 3px;
    content: "";
    display: inline-block;

    height: 20px;
    width: 20px;

    background: $white;
    /* Dark 25% */

    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
  }

  &__label:after {
    position: absolute;
    left: -18px;
    top: 7px;
    content: "";
    display: inline-block;

    height: 12px;
    width: 12px;

    background: $gradient;

    border-radius: 10px;
  }
}
