include ../../blocks/text-field/text-field.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/checkbox-button/checkbox-button.pug
include ../../blocks/logo/logo.pug
include ../../blocks/label/label.pug
include ../../blocks/radio-button/radio-button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/button/button.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../blocks/rich-checkbox-button/rich-checkbox-button.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/icon-text/icon-text.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/rate-button/rate-button.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/comment/comment.pug
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Form Elements
  body
    +logo
    +text-field({label: "text field", placeholder: "Email"})
    +text-field({label: "text field", placeholder: "This is pretty awesome", other: "autofocus"})
    +text-field({label: "masked text field", placeholder: "ДД.ММ.ГГГГ", pattern: "(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"})
    +text-field({placeholder: "ДД.ММ.ГГГГ", pattern: "(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"})
 
    +date-dropdown({range: "true", id: "dates", labelFrom: "date dropdown", labelTo: "date dropdown", placeholder: "ДД.ММ.ГГГГ"})
    .dropdown-wrapper
      +dropdown([{id: "bedrooms", text: "спальни", defaultCount: "0", minCount: "0", maxCount: "5"}, {id: "beds", text: "кровати", defaultCount: "0", minCount: "0", maxCount: "5"}, {id: "bathrooms", text: "ванные комнаты", defaultCount: "0", minCount: "0", maxCount: "5"}])
        
    .checkboxes-wrapper
      .checkboxes-label-wrapper
        +label({text: "checkbox buttons"})
      .checkbox-wrapper
        +checkbox-button([{label: "Можно курить", id: "smoking", name: "smoking"}, {label: "Можно с питомцами", id: "pets", name: "pets"}, {label: "Можно пригласить гостей (до 10 человек)", id: "guests", name: "guests"}])
        
    .radio-buttons-area-wrapper
      .radio-buttons-label-wrapper
          +label({text: "radio buttons"})
      .radio-buttons-wrapper
          +radio-button([{label: "Мужчина", name: "gender", id: "man"}, {label: "Женщина", name: "gender", id: "woman"}])
    
    +toggle({id: "special-offer", label: "Получать спецпредложения"})
    //+datepicker({position: "bottom left", range: "true"})
    //+datepicker({position: "bottom left", range: "true"})
    .button-area-wrapper
      +label({text: "buttons"})
      .button-wrapper
        +button({text: "click me", type: "submit", theme: "theme_border-background"})
      .button-wrapper
        +button({text: "click me", type: "submit", theme: "theme_border"})
      .button-wrapper
        +button({text: "click me", type: "submit", theme: "theme_simple-colorized"})
      .button-wrapper
        +button({text: "click me", type: "submit", theme: "theme_simple"})
      .button-wrapper
        +button({text: "перейти к оплате", type: "submit", theme: "theme_long"})
    +like-button({count: "0"})
    +rate-button({name: "rating"})
    .bullet-list-area-wrapper
      +label({text: "bullet list"})
      +bullet-list('rules', 'Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
    +rich-checkbox-button({label: "Широкий коридор", id: "wide-corridor", name: "wide-corridor", description: "Ширина коридоров в номере не менее 91 см."})
    +rich-checkbox-button({label: "Помощник для инвалидов", id: "invalid-assistant", name: "invalid-assistant", description: "На 1 этаже вас встретит специалист и проводит до номера."})
    .expandable-checkbox-list-wrapper
      +expandable-checkbox-list("expandable checkbox list", [{name: "1", id: "1", label: "Завтрак"}, {name: "2", id: "2", label: "Письменный стол"}, {name: "3", id: "3", label: "Стул для кормления"}, {name: "4", id: "4", label: "Кроватка"}, {name: "5", id: "5", label: "Телевизор"}, {name: "6", id: "6", label: "Шампунь"}, {name: "7", id: "7", label: "Телевизор"}, {name: "8", id: "8", label: "Шампунь"}])
    +icon-text({label: "Комфорт", sublabel: "Шумопоглащающие стены", icon: "mood", border: "true"})
    +icon-text({label: "Удобство", sublabel: "Окно в каждой из спален", icon: "location_city", border: "true"})
    +comment({image: "image2.jpg", name: "Мурад Сарафанов", time: "5 дней назад", count: "0", text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
    //+range-slider()

    
    