include ../../blocks/logo/logo.pug
include ../../blocks/label/label.pug
include ../../blocks/text-field/text-field.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title Калькулятор
  body
    header
      +label({text: "Рассчет площади фигур"})
    article  
      .rect
        +label({text: "Квадрат"})
        +text-field({label: "Введите длинну сторон", id: "rect1", pattern: "^[ 0-9]+$", type: "number"})
        +label({text: "Результат: ", id: "rectresult"})
      .circle
        +label({text: "Круг"})
        +text-field({label: "Введите радиус", id: "circle1", pattern: "^[ 0-9]+$", type: "number"})
        +label({text: "Результат: ", id: "circleresult"})
      .ellipse
        +label({text: "Эллипс"})
        +text-field({label: "Введите длинну большой полуоси", id: "ellipse1", pattern: "^[ 0-9]+$", type: "number"})
        +text-field({label: "Введите длинну малой полуоси", id: "ellipse2", pattern: "^[ 0-9]+$", type: "number"})
        +label({text: "Результат: ", id: "ellipseresult"})
      .parallelogram
        +label({text: "Параллелограмм"})
        +text-field({label: "Введите основание", id: "parallelogram1", pattern: "^[ 0-9]+$", type: "number"})
        +text-field({label: "Введите высоту", id: "parallelogram2", pattern: "^[ 0-9]+$", type: "number"})
        +label({text: "Результат: ", id: "parallelogramresult"})
      .trapecia
        +label({text: "Трапеция"})
        +text-field({label: "Введите основание (a)", id: "trapecia1", pattern: "^[ 0-9]+$", type: "number"})
        +text-field({label: "Введите основание (b)", id: "trapecia2", pattern: "^[ 0-9]+$", type: "number"})
        +text-field({label: "Введите высоту", id: "trapecia3", pattern: "^[ 0-9]+$"})
        +label({text: "Результат: ", id: "trapeciaresult"})
      .triangle
        +label({text: "Треугольник"})
        +text-field({label: "Введите основание", id: "triangle1", pattern: "^[ 0-9]+$", type: "number"})
        +text-field({label: "Введите высоту", id: "triangle2", pattern: "^[ 0-9]+$", type: "number"})
        +label({text: "Результат: ", id: "triangleresult"})

