.iqdropdown {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
.iqdropdown * {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
.iqdropdown *::after,
.iqdropdown *::before {
  box-sizing: inherit;
}
.iqdropdown *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.iqdropdown *:focus {
  outline: none;
}
.iqdropdown h1,
.iqdropdown h2,
.iqdropdown h3,
.iqdropdown h4,
.iqdropdown h5,
.iqdropdown h6 {
  margin: 0;
}
.iqdropdown p {
  margin: 0;
}
.iqdropdown ul,
.iqdropdown ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.iqdropdown a {
  cursor: pointer;
}
.iqdropdown button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.iqdropdown select::-ms-expand {
  display: none;
}
.iqdropdown input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
.iqdropdown .unactive-button .icon-decrement:after,
.iqdropdown .unactive-button .icon-increment::after {
  color: $dark-shade-25;
}
.iqdropdown .iqdropdown-item-controls button.unactive-button {
  border-color: $dark-shade-25;
}
.iqdropdown .icon-decrement {
  display: inline-block;
  height: 30px;
  margin: auto;
  //min-width: 15px;
  position: relative;
  width: 30px;
}
.iqdropdown .icon-decrement::after {
  background: none;
  content: "-";
  display: block;
  position: absolute;
  top: -2px;
  left: 11px;

  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $dark-shade-50;
}
.iqdropdown .icon-increment::after {
  background: none;
  content: "+";
  display: block;
  position: absolute;
  top: -1px;
  left: 9px;
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $dark-shade-50;
}
.iqdropdown .iqdropdown-menu {
  background-color: $white;
  box-shadow: none;
  cursor: default;
  display: none;
  left: 0;
  margin: -2px -1px -1px;
  position: absolute;
  right: 0;
  //top: 50px;
  top: 44px;
  transition: all 0.2s ease-in-out;
  z-index: 1;

  border: 1px solid $dark-shade-50;
  box-sizing: border-box;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.iqdropdown .iqdropdown-menu-option {
  align-items: center;
  display: flex;
  height: 37px;
  padding: 0 15px;
  padding-right: 7px;
  justify-content: space-between;
}
.iqdropdown .iqdropdown-menu-option:first-child {
  padding-top: 3.5px;
}
.iqdropdown .iqdropdown-menu-option:last-child {
  border: 0;
  padding-bottom: 3.5px;
}
.iqdropdown .iqdropdown-menu-close {
  color: #002674;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  margin: 20px 0;
  padding: 0 15px;
  text-align: right;
  width: 100%;
}
.iqdropdown.menu-open .iqdropdown-menu {
  display: block;
}
@media only screen and (max-width: 640px) {
  .iqdropdown .iqdropdown-menu.mobile-top-menu {
    top: -285px;
  }
}
.iqdropdown-content {
  flex: 1;
  padding-right: 10px;
}
.iqdropdown-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;

  color: $dark-shade-100;
}
.iqdropdown p.iqdropdown-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  color: $dark-shade-50;
  margin-top: 5px;
}
.iqdropdown .iqdropdown-item-controls {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  height: 30px;
}
.iqdropdown .iqdropdown-item-controls .counter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: $dark-shade-100;

  border-bottom: none;
  border-top: none;
  padding: 6px 12px;
}
.iqdropdown .iqdropdown-item-controls button {
  align-items: center;
  border: 1px solid $dark-shade-50;
  display: flex;
  height: 30px;
  width: 30px;
  padding: 0 0px;
  transition: all 0.2s ease-in-out;
}
.iqdropdown .iqdropdown-item-controls button:hover {
  background-color: #eee;
}
.iqdropdown .iqdropdown-item-controls button.unactive-button:hover {
  background-color: transparent;
}
.iqdropdown .iqdropdown-item-controls button.button-decrement {
  border-radius: 30px;
}
.iqdropdown .iqdropdown-item-controls button.button-increment {
  border-radius: 30px;
}
.iqdropdown {
  align-items: center;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.iqdropdown .iqdropdown-selection {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  //line-height: 24px;
  /* identical to box height, or 171% */
  color: $dark-shade-75;
  flex: 1;
  position: relative;
}
.iqdropdown .iqdropdown-selection::after {
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  //display: flex;
  //align-items: center;
  //text-align: center;
  color: $dark-shade-75;

  content: "keyboard_arrow_down";
  display: inline-block;
  height: 44px;
  width: 44px;
  position: absolute;
  right: -16px;
  top: -2px;
}
.iqdropdown.menu-open {
  border-color: $dark-shade-50;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.iqdropdown.menu-open .iqdropdown-selection::after {
  content: "keyboard_arrow_up";
}
