include ../../blocks/button/button.pug

mixin dropdown(items = [])
    .iqdropdown.js-iqdropdown
        p.iqdropdown-selection
        .iqdropdown-menu
            each item in items
                - const {id, text, minCount, maxCount, defaultCount} = item
                .iqdropdown-menu-option(data-id= id data-defaultcount= defaultCount data-mincount= minCount data-maxcount= maxCount data-numberItem = )
                    div
                        p.iqdropdown-item= text
            +button({text: "Очистить", type: "reset", theme: "theme_simple", function: "resetCounts()"})
            +button({text: "Применить", type: "submit", theme: "theme_simple-colorized"})
        