$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$purple: #bc9cff;
$green: #6fcf97;

$white: #ffffff;

$malibu: #8ba4f9;
$gradient: linear-gradient(180deg, $purple 0%, $malibu 100%);

$green-gradient: linear-gradient(180deg, $green 0%, #66d2ea 100%);
