@import "fonts.scss";
@import "colors.scss";
@import "~material-design-icons/iconfont/material-icons.css";
@import "../../src/blocks/button/button.scss";

html,
body {
  height: 100%;
  background-color: rgb(32, 32, 32);
  color: white;
}

li span {
  cursor: pointer;
}
