@import "fonts.scss";
@import "colors.scss";
@import "~material-design-icons/iconfont/material-icons.css";

@import "../blocks/color-block/color-block.scss";
@import "../blocks/title/title.scss";
@import "../blocks/subtitle/subtitle.scss";
@import "../blocks/label/label.scss";
@import "../blocks/text/text.scss";
@import "../blocks/text-block/text-block.scss";

@import "../blocks/text-field/text-field.scss";
@import "../blocks/checkbox-button/checkbox-button.scss";
@import "../blocks/radio-button/radio-button.scss";
@import "../blocks/toggle/toggle.scss";
@import "../blocks/dropdown/dropdown.scss";
@import "../blocks/button/button.scss";
@import "../blocks/bullet-list/bullet-list.scss";
@import "../blocks/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../blocks/rich-checkbox-button/rich-checkbox-button.scss";
@import "../blocks/icon-text/icon-text.scss";
@import "../blocks/like-button/like-button.scss";
@import "../blocks/rate-button/rate-button.scss";
@import "../blocks/date-dropdown/date-dropdown.scss";
@import "../blocks/datepicker/datepicker.scss";
@import "../blocks/comment/comment.scss";

html {
}

html,
body {
  height: 100%;
}

.logo-wrapper {
  margin-left: 30px;
  margin-top: 30px;
}

.content-wrapper {
  margin-top: 67px;
  display: flex;
}

.color-blocks-wrapper {
  margin-left: 149.74px;
}

.color-block-wrapper {
  margin-bottom: 20px;
}

.text-blocks-wrapper {
  margin-left: 427px;
}

.text-block-wrapper {
  margin-bottom: 50px;
}

//form-elements

.logo-wrapper {
  margin-left: 30px;
  margin-top: 30px;
}

.checkbox-wrapper:not(:last-child) {
  //margin-bottom: 10px;
}

.checkboxes-label-wrapper {
  margin-bottom: 16.56;
}

.radio-buttons-wrapper {
  display: flex;
}

.dropdown-wrapper {
  width: 266px;
}

.bullet-list-area-wrapper {
}

.radio-buttons-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.button-area-wrapper {
  margin-bottom: 30px;
}

.button-wrapper {
  margin-bottom: 30px;
}

.expandable-checkbox-list-wrapper {
  width: 266px;
}
